<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
<!--    <add name="sx" connectionString="Data Source=121.43.191.40;Database=suxiang;User ID=root;Password=123qwe" providerName="MySql.Data.MySqlClient" />-->
    <add name="sx" connectionString="Data Source=121.43.191.40;Database=suxiang;User ID=root;Password=123qwe" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
